% -*- mode: erlang -*-
{deps, [{meck, ".*",
         {git, "git://github.com/esl/meck.git", "master"}},
        {amqp_client, ".*",
         {git, "git://github.com/mdaguete/amqp_client.git", {tag,"rabbitmq_2.5.0"}}},
        {rabbit_common, ".*",
         {git, "git://github.com/mdaguete/rabbit_common.git", {tag,"rabbitmq_2.5.0"}}}]}.
{cover_enabled, true}.
{erl_opts, [debug_info,{i, "include"}]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used]}.
